// Media query variables.
@tablet:  ~"screen and (min-width: @{screen-sm-min})";
@normal:  ~"screen and (min-width: @{screen-md-min})";
@wide:    ~"screen and (min-width: @{screen-lg-min})";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700);
body{font-size:1.2vw;
@media only screen and (max-width: 800px) {font-size:4.5vw;width:100%;height:100%;}
}

/*h1{display:none;}*/

/*footer.footer {
    margin-top: 3em;
    padding-top: 3em;
    padding-bottom: .10em;
    border-top: 1px solid #E5E5E5;}*/

div.quote{font-size:1.2em;
          line-height:1.5em;
          margin:2em;
        @media only screen and (max-width: 800px) {
                    display: block;
                    width:100%;
                    margin:2em 1em;
            font-size:1.2em;
          line-height:1.2em;
                    }
        }


#views_slideshow_cycle_teaser_section_ticker-block div div div div div.quote{
        margin:.5em 2em;
        padding:0;
        font-size:1em;
        line-height:1.5em;
min-width:85%;}

@media only screen and (max-width: 800px) {
    
    #views_slideshow_cycle_teaser_section_ticker-block{width:95%;margin:0 auto;}
    
    #views_slideshow_cycle_teaser_section_ticker-block div div div div div.quote{
        margin:.5em .5em 0;
        padding:0;
        font-size:.6em;
        line-height:1.1em;}
}

#views_slideshow_cycle_div_ticker-block_0 h3,h4{display:none;}

body.page-node-73 h1.page-header{margin-left:-.3em !important;}
body.page-node-75 h1.page-header{margin-left:-.3em !important;}

body.page-node-3 h1.page-header{padding-left:1.1em !important;}
body.page-views-photos h1.page-header{margin-left:-.2em !important;}
body.page-node-74 h1.page-header{width:100%; text-align:center;}
body.page-news-articles h1.page-header{width:100%; text-align:center;}

span.lightweight{font-weight:300;}
.menu{li a,span{text-transform:uppercase;}}

li.dropdown-submenu{
span{margin-left:1.5em;}}

span.dropdown-toggle {
    color: #9c9c9c;
    text-transform: uppercase;
    margin: 1.025em;
    display: block;
    position:relative;
    padding-top: .2em;
}



p i{font-weight:normal !important;font-family: Raleway,"Open Sans",Helvetica,sans-serif;}

p a{font-weight:normal !important;font-family: Raleway,"Open Sans",Helvetica,sans-serif !important;}

// Drop shadows.
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}
*{ font-family: "Oswald", Open Sans, Helvetica, sans-serif;}
.navbar-header{
text-transform:uppercase;font-size:1.2em;width:20%;img{width:100%;}

  @media only screen and (max-width: 800px) {  .pre-scrollable {
  max-height: 1500px !important;
  overflow-y:visible !important;
}}

    
    
@media only screen and (max-width: 800px) { .navbar-fixed-top .navbar-collapse {
      max-height: 1500px !important;
   }}
    
@media only screen and (max-width: 800px) {   .navbar-collapse.in {
    overflow-y: visible !important;
    overflow-x: hidden !important;
}}
    
    
@media only screen and (max-width: 800px) {
    display: block;
    width:100%;
    span{width:30px;height:5px;}
  }
}
@media only screen and (max-width: 800px) {
section{position: relative;
min-height: 1px;
padding-left: 0;
padding-right: 0;
margin-top: 1em;}}


.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;
    left:100%;
    margin-top:-6px;margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px;
    border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;
    border-color:transparent;border-style:solid;
    border-width:5px 0 5px 5px;border-left-color:#ccc;
    margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#fff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;}


/*#colorbox{width:50vw;
height:auto;div.cboxWrapper{
width:50vw;height:auto;min-height:40vw; }}

#cboxContent{width:100%;
height:auto;min-height:40vw;}
#cboxLoadedContent{width:100%;
height:auto; img{width:100%;height:auto;}}*/

#cboxTitle {position: absolute;
bottom: 5px;
clear: both;
text-align: center;
width: 100%;
color: #000;
min-height: 16px;
overflow: hidden;
font-size: 16px;
padding-bottom:16px;
    @media only screen and (max-width: 800px) {font-size:12px;
    padding-bottom:20px;}
}

#cboxNext{margin-left:-5px;}

#cboxCurrent {
    text-transform: none !important;
    font-size: 10px !important;
    padding-left: 1px !important;
    margin-left: 7px;}

#flexslider-1 ul.slides{-webkit-box-shadow: 2px 65px 119px -42px rgba(0,0,0,0.92);
-moz-box-shadow: 2px 65px 119px -42px rgba(0,0,0,0.92);
box-shadow: 2px 65px 119px -42px rgba(0,0,0,0.92);}

.flex-viewport{-webkit-box-shadow: -2px 55px 133px -55px rgba(0,0,0,1);
-moz-box-shadow: -2px 55px 133px -55px rgba(0,0,0,1);
box-shadow: -2px 55px 133px -55px rgba(0,0,0,1);}

p{text-align:justify;font-family:'Raleway', Open Sans, Helvetica, sans-serif !important;

  @media only screen and (max-width: 800px) {text-align:left;font-weight:300;}
}

/*div.main-container{width:80%;margin:0em auto !important;
@media only screen and (max-width: 800px) {width:90%;margin:3em auto !important;}
.row{margin:0;}
}*/

body div.row{width:80%;margin:0 auto;padding: 0 0 4em 0em;min-height:70vw;
@media only screen and (max-width: 800px) {width:95%;margin:4em auto !important;min-height:100%;}
}

#skip-link{height:1px;}

html {
  &.overlay-open .navbar-fixed-top {
    z-index: 400;
  }
  &.js {
    // Collapsible fieldsets.
    fieldset.collapsed {
      border-left-width: 1px;
      border-right-width: 1px;
      height: auto;
    }
    // Throbbers.
    input.form-autocomplete {
      background-image: none;
    }
    // Autocomplete.
    input.form-autocomplete {
      background-image: none;
    }
    // Autocomplete (fallback throbber, no icon).
    .autocomplete-throbber {
      background-position: 100% 2px;
      background-repeat: no-repeat;
      display: inline-block;
      height: 15px;
      margin: 2px 0 0 2px;
      width: 15px;
    }
    .autocomplete-throbber.throbbing {
      background-position: 100% -18px;
    }
  }
}
body {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;
  &.admin-expanded.admin-vertical.admin-nw .navbar,
  &.admin-expanded.admin-vertical.admin-sw .navbar {
    margin-left: 260px;
  }
  // Add padding to body if various toolbar or navbars are fixed on top.
  &.navbar-is-fixed-top {
    padding-top: 64px !important;
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: 64px !important;
  }
  &.toolbar {
    padding-top: 30px !important;
    .navbar-fixed-top {
      top: 30px;
    }
    &.navbar-is-fixed-top {
      padding-top: 94px !important;
    }
  }
  &.toolbar-drawer {
    padding-top: 64px !important;
    .navbar-fixed-top {
      top: 64px;
    }
    &.navbar-is-fixed-top {
      padding-top: 128px !important;
    }
  }
  // Admin_menu toolbar.
  &.admin-menu {
    .navbar-fixed-top {
      top: 29px;
    }
    &.navbar-is-fixed-top {
      padding-top: 93px !important;
    }
  }
  div#admin-toolbar {
    z-index: 1600;
  }
  // Override box-shadow styles on all "admin" menus.
  #toolbar, #admin-menu, #admin-toolbar {
    .box-shadow(none);
  }
  // Override #admin-menu style.
  #admin-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1600;
    .dropdown li {
      line-height: normal;
    }
  }
}

// Default navbar.
.navbar {
  &.container {
    @media @tablet {
      max-width: ((@container-sm - @grid-gutter-width));
    }
    @media @normal {
      max-width: ((@container-md - @grid-gutter-width));
    }
    @media @wide {
      max-width: ((@container-lg - @grid-gutter-width));
    }
  }
  &.container,
  &.container-fluid {
    margin-top: 20px;
  }
  &.container > .container,
  &.container-fluid > .container-fluid {
    margin: 0;
    padding: 0;
    width: auto;
  }
}
/*h2:first-child{display:none;}*/
h2{text-transform:uppercase;color:#666;}
h1.page-header{display:block;
    text-transform:uppercase;
    color:#333;margin:0;
    padding:1.5em 0 0 .3em;
    border: 0;
    border-bottom:0 solid #fff;
    font-size:2em;}
body.front{h1.page-header{display:none;}}
body.page-node{h1.page-header{padding:1.5em 0 0 .3em;}}
body.page-node-40{h1.page-header{color:#337ab7;}}
/*.field-name-body{position:relative;img{min-width:40%;}}*/
a.to-next-page{display:none;}
#contentaboutfilm,
#contenttrailer,
#viewsphotos,
#viewsartgallery{padding-top:1.75em;}

#contenthomepage{padding-top:1.5em;}

#node-2{div.field-name-body{
                        padding:1em .5em;img{
                                            width:50vw;
                                            margin:0 1em 0em 0;
                                            }
                                        }
                            }
#aboutfilm{height:40vw;
    padding-top:10vw;
        background :~"url('/dev/artbastard/sites/default/files/aboutfilm.jpg')";
     background-repeat:no-repeat;
            background-size:cover;
    background-attachment:fixed;
}
#artgallery{height:60vw;
    padding-top:10vw;
    margin-bottom:60vw;
            background:~"url('/dev/artbastard/sites/default/files/artgallery.jpg')";
            background-repeat:no-repeat;
            background-size:cover;
background-attachment:fixed;}
#photos{height:40vw;
   padding-top:10vw;
        background:~"url('/dev/artbastard/sites/default/files/photos.jpg')";
        background-repeat:no-repeat;
        background-size:cover;
background-attachment:fixed;}

// Adjust z-index of core components.
#overlay-container,
.overlay-modal-background,
.overlay-element {
  z-index: 1500;
}
#toolbar {
  z-index: 1600;
}
// Adjust z-index of bootstrap modals
.modal {
  z-index: 1620;
}
.modal-dialog {
  z-index: 1630;
}
.ctools-modal-dialog .modal-body {
  width: 100% !important;
  overflow: auto;
}
.modal-backdrop {
  z-index: 1610;
}
/*.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}*/

footer.footer{margin-top: 3em;
padding-top: 0em;
padding-bottom: .10em;
border-top: 1px solid #E5E5E5;
position: absolute;
bottom:0;
left:0;
margin-bottom: 0;
width: 100%;
height:1em;
background-color: white;}

// Element invisible fix
.element-invisible {
  margin: 0;
  padding: 0;
  width: 1px;
}

// Branding.
.navbar-header{
    @media only screen and (max-width: 800px) {width:100%;margin:0;padding:0;}
    .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
  
  @media only screen and (max-width: 800px) {padding:.25em .5em 0;display:block;width:65%;margin:0 auto;
  margin-right:0;
  }
  
  @media @tablet {
    margin-right: 0;
    padding-left: 0;
  }
}}

// Navigation.
ul.secondary {
  float: left;
  @media @tablet {
    float: right;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}





// Blocks
.block {
  &:first-child h2.block-title {
    margin-top: 0;
  }
}

// Paragraphs.
p:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: @font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

// Search form.
form#search-block-form {
  margin: 0;
}
.navbar #block-search-form {
  float: none;
  margin: 5px 0 5px 5px;
  @media @normal {
    float: right;
  }

  .input-group-btn {
    width: auto;
  }
}
.navbar-search .control-group {
  margin-bottom:0px;
}

// Action Links
ul.action-links {
  margin: @padding-base-horizontal 0;
  padding: 0;
  li {
    display: inline;
    margin: 0;
    padding: 0 @padding-base-vertical 0 0;
  }
  .glyphicon {
    padding-right: 0.5em;
  }
}

// Form elements.
input, textarea, select, .uneditable-input {
  max-width: 100%;
  width: auto;
}
input.error {
  color: @state-danger-text;
  border-color: @state-danger-border;
}
fieldset legend.panel-heading {
  float: left;
  line-height: 1em;
  margin: 0;
}
fieldset .panel-body {
  clear: both;
  display: inherit;
}
fieldset .panel-heading a.panel-title {
  color: inherit;
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
  &:hover {
    text-decoration: none;
  }
}
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-actions{
  clear: both;
}
.managed-files.table {
  td:first-child {
    width: 100%;
  }
}
div.image-widget-data {
  float: none;
  overflow: hidden;
}
table.sticky-header {
  z-index: 1;
}
.resizable-textarea textarea {
  border-radius: @border-radius-base @border-radius-base 0 0;
}
.text-format-wrapper {
  // Use same value as .form-group.
  margin-bottom: 15px;
  > .form-type-textarea,
  .filter-wrapper {
    margin-bottom: 0;
  }
}
.filter-wrapper {
  border-radius: 0 0 @border-radius-base @border-radius-base;
  .panel-body {
    padding: 7px;
  }
  .form-type-select {
    min-width: 30%;
    .filter-list {
      width: 100%;
    }
  }
}
.filter-help {
  margin-top: 5px;
  text-align: center;
  @media @tablet {
    float: right;
  }
  .glyphicon {
    margin: 0 5px 0 0;
    vertical-align: text-top;
  }
}
.radio, .checkbox {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.help-block, .control-group .help-inline {
  color: @gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
}
.panel-heading {
  display: block;
}
a.tabledrag-handle .handle {
  height: auto;
  width: auto;
}

// Error containers.
.error {
  color: @state-danger-text;
}
div.error,
table tr.error {
  background-color: @state-danger-bg;
  color: @state-danger-text;
}
.form-group.error,
.form-group.has-error {
  background: none;
  label, .control-label {
    color: @state-danger-text;
    font-weight: 600;
  }
  input, textarea, select, .uneditable-input {
    color: @input-color;
  }
  .help-block, .help-inline {
    color: @text-muted;
  }
}

// Lists
.nav-tabs {
  margin-bottom: 10px;
}
ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
  list-style-image: none;
}
.tabs--secondary {
  margin: 0 0 10px;
}

// Submitted
.submitted {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: normal;
  color: #777;
}

// Password strength/match.
.form-type-password-confirm {
  position: relative;
  label {
    display: block;
    .label {
      float: right;
    }
  }
  .password-help {
    padding-left: 2em;
    @media (min-width: @screen-sm-min) {
      border-left: 1px solid @table-border-color;
      left: percentage((6/12));
      margin-left: (@grid-gutter-width / 2);
      position: absolute;
    }
    @media (min-width: @screen-md-min) {
      left: percentage((4/12));
    }
  }
  .progress {
    background: transparent;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    .box-shadow(none);
    height: 4px;
    margin: -5px 0px 0;
  }
  .form-type-password {
    clear: left;
  }
  .form-control-feedback {
    right: 15px;
  }
  .help-block {
    clear: both;
  }
}

// Views AJAX pager.
ul.pagination li > a {
  &.progress-disabled {
    float: left;
  }
}

// Autocomplete and throbber
.form-autocomplete {
  .glyphicon {
    color: @gray-light;
    font-size: 120%;
    &.glyphicon-spin {
      color: @brand-primary;
    }
  }
  .input-group-addon {
    background-color: rgb(255, 255, 255);
  }
}

// AJAX "Progress bar".
.ajax-progress-bar {
  border-radius: 0 0 @border-radius-base @border-radius-base;
  border: 1px solid @input-group-addon-border-color;
  margin: -1px 0 0;
  padding: @padding-base-vertical @padding-base-horizontal;
  width: 100%;
  .progress {
    height: 8px;
    margin: 0;
  }
  .percentage,
  .message {
    color: @text-muted;
    font-size: @font-size-small;
    line-height: 1em;
    margin: 5px 0 0;
    padding: 0;
  }
}

.glyphicon-spin {
  display: inline-block;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
a .glyphicon-spin {
  display: inline-block;
  text-decoration: none;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/**
 * Missing Bootstrap 2 tab styling.
 * @see http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
 * @see http://bootply.com/74926
 */
.tabbable {
  margin-bottom: 20px;
}
.tabs-below, .tabs-left, .tabs-right {
  > .nav-tabs {
    border-bottom: 0;
    .summary {
      color: @nav-disabled-link-color;
      font-size: @font-size-small;
    }
  }
}
.tab-pane > .panel-heading {
  display: none;
}
.tab-content > .active {
  display: block;
}

// Below.
.tabs-below {
  > .nav-tabs {
    border-top: 1px solid @nav-tabs-border-color;
    > li {
      margin-top: -1px;
      margin-bottom: 0;
      > a {
        border-radius: 0 0 @border-radius-base @border-radius-base;
        &:hover,
        &:focus {
          border-top-color: @nav-tabs-border-color;
          border-bottom-color: transparent;
        }
      }
    }
    > .active {
      > a,
      > a:hover,
      > a:focus {
        border-color: transparent @nav-tabs-border-color @nav-tabs-border-color @nav-tabs-border-color;
      }
    }
  }
}

// Left and right tabs.
.tabs-left,
.tabs-right {
  > .nav-tabs {
    padding-bottom: 20px;
    width: 220px;
    > li {
      float: none;
      &:focus {
        outline: 0;
      }
      > a {
        margin-right: 0;
        margin-bottom: 3px;
        &:focus {
          outline: 0;
        }
      }
    }
  }
  > .tab-content {
    border-radius: 0 @border-radius-base @border-radius-base @border-radius-base;
    .box-shadow(0 1px 1px rgba(0,0,0,.05));
    border: 1px solid @nav-tabs-border-color;
    overflow: hidden;
    padding: 10px 15px;
  }
}

// Left tabs.
.tabs-left {
  > .nav-tabs {
    float: left;
    margin-right: -1px;
    > li > a {
      border-radius: @border-radius-base 0 0 @border-radius-base;
      &:hover,
      &:focus {
        border-color: @nav-tabs-link-hover-border-color @nav-tabs-border-color @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color;
      }
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-color: @nav-tabs-border-color transparent @nav-tabs-border-color @nav-tabs-border-color;
      .box-shadow(-1px 1px 1px rgba(0,0,0,.05));
    }
  }
}

// Right tabs.
.tabs-right {
  > .nav-tabs {
    float: right;
    margin-left: -1px;
    > li > a {
      border-radius: 0 @border-radius-base @border-radius-base 0;
      &:hover,
      &:focus {
        border-color: @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-border-color;
        .box-shadow(1px 1px 1px rgba(0,0,0,.05));
      }
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-color: @nav-tabs-border-color @nav-tabs-border-color @nav-tabs-border-color transparent;
    }
  }
}

// Checkbox cell fix.
th.checkbox,
td.checkbox,
th.radio,
td.radio {
  display: table-cell;
}

// Views UI fixes.
.views-display-settings {
  .label {
    font-size: 100%;
    color:#666666;
  }
  .footer {
    padding:0;
    margin:4px 0 0 0;
  }
}
.views-exposed-form .views-exposed-widget .btn {
  margin-top: 1.8em;
}

// Radio and checkbox in table fixes
table {
  .radio input[type="radio"],
  .checkbox input[type="checkbox"] {
    max-width: inherit;
  }
}

// Exposed filters
.form-horizontal .form-group label {
  position: relative;
  min-height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-left:  (@grid-gutter-width / 2);
  padding-right: (@grid-gutter-width / 2);
  text-align: right;

  @media (min-width: @screen-sm-min) {
    float: left;
    width: percentage((2 / @grid-columns));
  }
}

// Treat all links inside alert as .alert-link
.alert a {
  font-weight: @alert-link-font-weight;
}
.alert-success a {
  color: darken(@alert-success-text, 10%);
}
.alert-info a {
  color: darken(@alert-info-text, 10%);
}
.alert-warning a {
  color: darken(@alert-warning-text, 10%);
}
.alert-danger a {
  color: darken(@alert-danger-text, 10%);
}

// Override image module.
div.image-style-new,
div.image-style-new div {
  display: block;
}
div.image-style-new div.input-group {
  display: table;
}

td.module,
.table-striped>tbody>tr:nth-child(odd)>td.module,
.table>tbody>tr>td.module {
  background: @table-border-color;
  font-weight: 700;
}

// Book module.
.book-toc > .dropdown-menu {
  overflow: hidden;
  > .dropdown-header {
    white-space: nowrap;
  }
  > li:nth-child(1) > a {
    font-weight: bold;
  }
  .dropdown-menu {
    .box-shadow(none);
    border: 0;
    display: block;
    font-size: @font-size-small;
    margin: 0;
    padding: 0;
    position: static;
    width: 100%;
    > li {
      padding-left: 7px;
      > a {
        margin-left: -40px;
        padding-left: 60px;
      }
        span{display:block;padding-left:7px;}
    }
  }
}

// Features module.
#features-filter .form-item.form-type-checkbox {
  padding-left: 20px;
}
fieldset.features-export-component {
  font-size: @font-size-small;
  html.js #features-export-form &, & {
    margin: 0 0 (@line-height-computed / 2);
  }
  .panel-heading {
    padding: 5px 10px;
    a.panel-title {
      font-size: @font-size-small;
      font-weight: 500;
      margin: -5px -10px;
      padding: 5px 10px;
    }
  }
  .panel-body {
    padding: 0 10px;
  }
}
div.features-export-list {
  margin: -11px 0 10px;
  padding: 0 10px;
}

fieldset.features-export-component .component-select ,
div.features-export-list {
  .form-type-checkbox {
    line-height: 1em;
    margin: 5px 5px 5px 0 !important;
    min-height: 0;
    padding: 3px 3px 3px 25px!important;
    input[type=checkbox] {
      margin-top: 0;
    }
  }
}

// Navbar module.
body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open .navbar-fixed-top {
  top: 79px;
}
body.navbar-is-fixed-top.navbar-administration .navbar-fixed-top {
  top: 39px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
body.navbar-is-fixed-top.navbar-administration.navbar-vertical.navbar-tray-open .navbar-fixed-top {
  left: 240px;
  left: 24rem;
  }
}
.navbar-administration #navbar-administration.navbar-oriented .navbar-bar{
  z-index: 1032;
}
.navbar-administration #navbar-administration .navbar-tray {
  z-index: 1031;
}
body.navbar-is-fixed-top.navbar-administration {
  padding-top: 103px!important;
}
body.navbar-is-fixed-top.navbar-administration.navbar-horizontal.navbar-tray-open {
  padding-top: 143px!important;
}
body.navbar-tray-open.navbar-vertical.navbar-fixed {
  margin-left: 240px;
  margin-left: 24rem;
}
#navbar-administration.navbar-oriented .navbar-tray-vertical {
  width: 24rem;
}

#navbar{margin:0;padding:0;}
div.view-art-gallery .view-content{height:40vw;background-color:#fff;}
.views-column{width:16.6%;display:inline-block;float:left;padding:1%;
img{width:100%;border:1px solid lightgray;}}
#artgallery{height:100vw;}

#webform-client-form-38{position:relative;width:80%;margin:0 auto;
    input{width:15em;}
    textarea{width:30em;}
    
.webform-component-markup #contactinfo{position:absolute;top:2em;right:1em;width:40%;height:auto;}
}

#contactinfo{display:block;width:100%;margin:1rem auto;
                    .col1,.col2,.col3{
                        display:inline-block;
                        height:auto;
                        width:32.5%;
                        float:left;
                        padding:.5em;
    
                        @media only screen and (max-width: 800px) {
                            display:block;
                        height:auto;
                        width:85%;
                        margin-left:8%;
                        text-align:left;
                        padding:.5em;
                        
                            }
                    }
            }

img#santafefilm{width:100% !important;}



 #laurels{display:block;width:100%;clear:both;margin:.5em auto !important;img{width:100%;}
 @media only screen and (max-width : 800px) { display: none; }
    
 
 }

.flexslider:hover .flex-direction-nav a,
.flexslider:hover .flex-direction-nav a {
  text-decoration: none !important;
    display: block !important;
    width: 40px !important;
    height: 60px !important;
    font-size:1em !important;
    margin: -20px 0 0  !important;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 1;
    border:0 !important;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


ol.flex-control-nav {
        width: 100% !important;
        position: absolute !important;
        bottom: -3em !important;
        text-align: center !important;
    
     @media only screen and (max-width : 800px) { bottom: -10.5em !important;height:12em !important; }
li{
        display: inline-block !important;
        height: 6px !important;
        zoom: 1;
        float: left !important;
        padding: 5px !important;
        margin: 5px !important;}

}

/*flex-direction-nav a {
    text-decoration: none !important;
    display: block !important;
    width: 40px !important;
    height: 60px !important;
    margin: -20px -1.2em 0  !important;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0,0,0,0.8);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}*/


 /*.flex-prev {
    opacity: 1;
    left: -3em;
    top: 50%;
    height: 3em;
}
 .flex-next {
    opacity: 1;
    right: -6em;
    top: 50%;
    height: 3em;
}*/


#headwrap{width:100%;height:auto;margin:0 auto;display:flex;flex-direction:row;
        @media only screen and (max-width : 800px) {width:100%; flex-direction:column;}
        .floatleft50:first-child{width:40%;height: auto;min-height:500px;display:flex;flex-direction:column;margin:2em .25em;text-align:center;justify-content: space-between;
        @media only screen and (max-width : 800px) {width:100%;}
            img{width:100%;min-height:500px;}
            .theateritem{margin:0;}
            /*.theateritem:nth-child(2){margin-top:-.5em;
            @media only screen and (max-width : 800px) {margin-top:-1em;}
            }
            .theateritem:nth-child(4){margin-top:-.5em;
            @media only screen and (max-width : 800px) {margin-top:-1em;}
            }*/
            
            .redupper{text-transform:uppercase;color:#bc1013;font-size:1.25em;margin:0 0 .5em 0; }
            .blackbold{font-weight:500;font-size:1.2em;line-height:1.2em;margin:.5em 0 0 0;
                @media only screen and (max-width : 800px) {font-size:1em;line-height:1em;}
                a{color:#000;}
            }
            .small{font-size:1.2em;margin:0;padding:0;text-align:center;}
        
            .standout{  margin: 1.5em 0px;
                        border: 3px groove black;
                        padding: 1em 0;
                              
            }
            
             h3.redupper a{color:#bc1013;text-decoration:none;} 
        
        }
    
    .floatleft50:last-child{width:60%;img{width:100%;}}
        
        
}

div.floatleft50:first-child{width:50%;}
div.floatleft50:last-child{width:50%;img{width:100%;}}

@media only screen and (max-width : 800px) {
div.floatleft50{width:100%;}
    div.floatleft50:first-child{width:100%;}
    div.floatleft50:last-child{width:100%;img{width:100%;}}
    
    #headwrap .floatleft50:last-child{width:100%;img{width:100%;}}
}


 @media only screen and (max-width : 800px) {
     .theateritem{margin:.5em 0;}
 
 
 }

#socialnetworking {
    margin: 20px 10px;
    text-align: center;
    /* width: 100%; */
    height: auto;
    position: fixed;
    width: 55px;
    right: 2em;
    top: 10em;
    a{text-decoration:none;}
}

.smGlobalBtn{ /* global button class */
    display: inline-block;
    float:left;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}


@media only screen and (max-width : 800px)
{#socialnetworking{
margin: 5px;
text-align: center;
height: 40px;
position: absolute;
width:100%;
right: 0;
    padding-left:30%;
top:7.2em;
    z-index:8;

    .smGlobalBtn {
    display: inline-block;
    float: left;
    position: relative;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    box-shadow: 0 2px 2px #999;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.2em;
    border-radius: 50%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    margin: 0 .35em;
}
}}



/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #fff;
    background:#4060A5 ;
    border:0;
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
}

.twitterBtn:hover{
      background: #00ABE3;
      color: #fff;
     border:0;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      background: #e64522;
      color: #fff;
     border:0;
}


/* instagram button class*/
.instagramBtn{
    background: #eadbf4;
}

.instagramBtn:before{
      font-family: "FontAwesome";
      content: "\f16d"; /* add googleplus icon */
}


.instagramBtn:hover{
      background: #eadbf4;
      color: #fff;
     border:0;
}


/* instagram button class*/
.youtubeBtn{
    background: #0564f9;
}

.youtubeBtn:before{
      font-family: "FontAwesome";
      content: "\f167"; /* add googleplus icon */
}


.youtubeBtn:hover{
      background: #0564f9;
      color: #fff;
     border:0;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      background: #0094BC;
      color: #fff;
     border:0;
}

/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
      font-family: "FontAwesome";
      content: "\f0d2"; /* add pinterest icon */
}

.pinterestBtn:hover{
      background: #cb2027;
      color: #fff;
     border:0;
}

/* tumblr button class*/
.tumblrBtn{
    background: #3a5876;
}

.tumblrBtn:before{
      font-family: "FontAwesome";
      content: "\f173"; /* add tumblr icon */
}

.tumblrBtn:hover{
      background: #3a5876;
      color: #fff;
     border:0;
}

/* rss button class*/
.rssBtn{
    background: #e88845;
}

.rssBtn:before{
      font-family: "FontAwesome";
      content: "\f09e"; /* add rss icon */
}

.rssBtn:hover{
      background: #e88845;
      color: #fff;
     border:0;
}

#block-block-1{width:25%;margin:0 auto;}

#footercopyright{
    width:100%;
    text-align:center;
.andcopy{font-size:.8em;color:#666;margin:1em 0;

  @media only screen and (max-width: 800px) {font-size:.25em;width:100%;margin:0;padding:0;}

}
.beigelogo{img{width:75%;}}}

.view-footer{display:block;}
#artgallery,#photos{display:none !important;}

#theaters{width:75%;margin:0 auto;display:block;
    @media only screen and (max-width: 800px) {width:100%;}

.blockwrap{display:block;padding:2em 1em;border-bottom:1px solid #aaa;
    .standout{
                border: 3px groove black;
                padding: 0 1em 1em;
                width:50%;
                text-align: center;
        
         @media only screen and (max-width: 800px) {width:100%;}
                margin:0 auto;
                h4{font-size:1.2em;text-align:center;}
                h3.redupper a{color:#bc1013;text-decoration:none;
                    font-size:.8em;}
        .small{font-size:1.2em;text-align:center;margin:.5em 0;}
    }
            

    
    .inline{display:inline-block;float:left;width:50%;
            }
 @media only screen and (max-width: 800px) {border-bottom:0;}
}
}
